@page "/Home"
@using Radzen.Blazor
@using AVAIOT.SIG.Components.Layout


<PageTitle>Home</PageTitle>

<NavMenu />
<div class="container">
    <div class="rz-p-12">        
        <RadzenText TextStyle="TextStyle.DisplayH2">SIG</RadzenText>        
        <RadzenText TextStyle="TextStyle.DisplayH5">Sistema de Inventarios Gubernamentales</RadzenText>
    </div>
</div>


