@using Radzen
@using Radzen.Blazor

<div>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light " style="margin-left:2px">
        <a class="navbar-brand" href="Home">
            <img src="/img/inventario-disponible.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Sistema de Inventarios Gubernamentales
        </a>
    </nav>
</div>

<div>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #6d0c2e; color:white">
        <div class="container-fluid">
            <a class="navbar-brand" href="Home">SIG</a>
            <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <RadzenMenu Click="OnParentClicked" Style="background-color: #6d0c2e;">
                            <RadzenMenuItem Text="BIENES MUEBLES" Icon="">
                                <RadzenMenuItem Text="ACTIVOS" Path="RegistroDeBienes" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CON BAJA" Path="RegistroDeBienes" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="NUEVO BIEN" Path="NuevoBien" Icon=""></RadzenMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Home">
                            <span class="oi oi-plus" aria-hidden="true"></span> DOCUMENTO BASE
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Inventario">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> INVENTARIOS
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Home">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> RESGUARDOS
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <RadzenMenu Click="OnParentClicked" Style="background-color: #6d0c2e;">
                            <RadzenMenuItem Text="INFORMACIÓN DEL ENTE" Icon="">
                                <RadzenMenuItem Text="CÁTALOGO PERFIL DE USUARIO" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE USUARIOS" Path="Usuarios" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE TIPOS DE DEPENDECIAS" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE DEPENDECIAS" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE UBICACIONES" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE DEPARTAMENTOS" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE RESPONSABLES" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="CÁTALOGO DE TIPO DE BIENES" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="INFORMACIÓN DEL ENTE" Path="Home" Icon=""></RadzenMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </li>

                    <li class="nav-item">
                        <RadzenMenu Click="OnParentClicked" Style="background-color: #6d0c2e;">
                            <RadzenMenuItem Text="INFORMACIÓN SISTEMA" Icon="">
                                <RadzenMenuItem Text="CUENTAS COG" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="TABLA DE DEPRECIACIÓN" Path="Home" Icon=""></RadzenMenuItem>
                                <RadzenMenuItem Text="TIPO DE ADQUISICIÓN" Path="Home" Icon=""></RadzenMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void OnParentClicked(MenuItemEventArgs args)
    {
        Console.WriteLine($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        Console.WriteLine($"{args.Text} from child clicked");
    }
}